## The default networking requires several bridges. These bridges were named to be informative
## however they can be named what ever you like and is adaptable to any network infrastructure
## environment. This file serves as an example of how to setup basic networking and was ONLY
## built for the purpose of being an example and used expressly in the building of an ALL IN
## ONE development environment.

auto br-mgmtA
iface br-mgmtA inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice the bridge port is the vlan tagged interface
    bridge_ports none
    address 10.1.1.1
    netmask 255.255.255.0
    offload-sg off

auto br-storageA
iface br-storageA inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports none
    address 10.1.2.1
    netmask 255.255.255.0
    offload-sg off

auto br-replA
iface br-replA inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports none
    address 10.1.3.1
    netmask 255.255.255.0
    offload-sg off

auto br-mgmtB
iface br-mgmtB inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    # Notice the bridge port is the vlan tagged interface
    bridge_ports none
    address 10.1.11.1
    netmask 255.255.255.0
    offload-sg off

auto br-storageB
iface br-storageB inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports none
    address 10.1.12.1
    netmask 255.255.255.0
    offload-sg off

auto br-replB
iface br-replB inet static
    bridge_stp off
    bridge_waitport 0
    bridge_fd 0
    bridge_ports none
    address 10.1.13.1
    netmask 255.255.255.0
    offload-sg off
